.switch-checkbox {
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;

    + label {
      position: relative;
      display: inline-block;
      @include transition(0.4s ease);
      height: 30px;
      width: 50px;
      border: 1px solid #e6ecf5;
      border-radius: 60px;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        display: block;
        @include transition(0.2s cubic-bezier(0.24, 0, 0.5, 1));
        height: 30px;
        width: 50px;
        top: 0;
        left: 0;
        border-radius: 30px;
      }

      &:after {
        content: "";
        position: absolute;
        display: block;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
          0 4px 0px 0 rgba(0, 0, 0, 0.04), 0 4px 9px rgba(0, 0, 0, 0.13),
          0 3px 3px rgba(0, 0, 0, 0.05);
        @include transition(0.35s cubic-bezier(0.54, 1.6, 0.5, 1));
        background: darken(#fff, 3%);
        height: 28px;
        width: 28px;
        top: 0px;
        left: 0px;
        border-radius: 60px;
      }
    }

    &:checked {
      + label {
        &:before {
          background: #17a2b8;
          @include transition(width 0.2s cubic-bezier(0, 0, 0, 0.1));
        }

        &:after {
          left: 24px;
        }
      }
    }
  }

  &.switch-sm {
    input[type="checkbox"] {
      + label {
        height: 20px;
        width: 35px;

        &:before {
          height: 20px;
          width: 35px;
        }

        &:after {
          height: 19px;
          width: 19px;
        }
      }

      &:checked {
        + label {
          &:after {
            left: 16px;
          }
        }
      }
    }
  }

  &.switch-primary {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            background: #007bff;
          }
        }
      }
    }
  }

  &.switch-success {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            background: #28a745;
          }
        }
      }
    }
  }

  &.switch-warning {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            background: #ffc107;
          }
        }
      }
    }
  }

  &.switch-danger {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            background: #dc3545;
          }
        }
      }
    }
  }

  &.switch-primary {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            background: #007bff;
          }
        }
      }
    }
  }

  &.switch-secondary {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            background: #6c757d;
          }
        }
      }
    }
  }

  &.switch-light {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            background: #f8f9fa;
          }
        }
      }
    }
  }

  &.switch-dark {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            background: #343a40;
          }
        }
      }
    }
  }

  &.switch-info {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            background: #17a2b8;
          }
        }
      }
    }
  }
}
