.header-area {
  position:fixed;
  width:100%;
  z-index: 99;
}
.side-panel {
  width: 13%;
  height: calc(100vh - 57px);
  top:57px;
  position:fixed;
}
.router-area {
  width: 87%;
  position:absolute;
  left:13%;
  top:57px;
}

.mobile-panel {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  top: 57px;
}

@media only screen and (max-width: 856px) {
  .side-panel{
    display:none;
  }
  .router-area{
    width:100%;
    left:0px;
  }
}

