<div class="checkbox" [ngClass]="[checkboxSettings.color, checkboxSettings.align]">
  <input id="form-1-1" name="form-1-1" type ="checkbox" checked="">
  <label for="form-1-1">option 1</label>
</div>
<div class="checkbox" [ngClass]="[checkboxSettings.color, checkboxSettings.align]">
  <input id="form-1-2" name="form-1-2" type ="checkbox">
  <label for="form-1-2">option 2</label>
</div>
<div class="checkbox" [ngClass]="[checkboxSettings.color, checkboxSettings.align]">
  <input id="form-1-3" name="form-1-3" type ="checkbox">
  <label for="form-1-3">option 3</label>
</div>
