@import '../../../../projects/ui-absolute/src/uia/scss/components/variables';

.list-style-none {
  list-style-type: none;
  padding-left: 1rem;
}

.list-style-none li a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $primary;
  }
}
