@import './variables';

.checkbox {
  padding: 0;
  min-height: auto;

  input[type="checkbox"] {
    margin: 0;
    display: none;
    width: 22px;

    + label {
      padding-left: 0;
      margin-bottom: 0;

      &:before {
        content: "";
        width: 22px;
        height: 22px;
        display: inline-block;
        border: 2px solid #e6ecf5;
        border-radius: 3px;
        margin-right: 10px;
        font-size: 15px;
        font-family: "themify";
        font-weight: 400;
        line-height: 19px;
        vertical-align: bottom;
        text-align: center;
        background-color: #ffffff;
        cursor: pointer;
      }
    }

    &:checked {
      + label {
        &:before {
          content: "\2714";
          color: #0f9aee;
        }
      }
    }
  }

  &.checkbox-primary {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            content: "\2714";
            color: $primary;
          }
        }
      }
    }
  }

  &.checkbox-success {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            content: "\2714";
            color: $success;
          }
        }
      }
    }
  }

  &.checkbox-warning {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            content: "\2714";
            color: $warning;
          }
        }
      }
    }
  }

  &.checkbox-danger {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            content: "\2714";
            color: $danger;
          }
        }
      }
    }
  }

  &.checkbox-secondary {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            content: "\2714";
            color: $secondary;
          }
        }
      }
    }
  }

  &.checkbox-light {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            content: "\2714";
            color: $light;
            ;
          }
        }
      }
    }
  }

  &.checkbox-dark {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            content: "\2714";
            color: $dark;
            ;
          }
        }
      }
    }
  }

  &.checkbox-info {
    input[type="checkbox"] {
      &:checked {
        + label {
          &:before {
            content: "\2714";
            color: $info;
            ;
          }
        }
      }
    }
  }

}

