<div class="radio" [ngClass]="[radioSettings.color, radioSettings.align]">
  <input type="radio" name="form-3" id="form-3-1">
  <label for="form-3-1">Option 1</label>
</div>
<div class="radio" [ngClass]="[radioSettings.color, radioSettings.align]">
  <input type="radio" name="form-3" id="form-3-2" checked="">
  <label for="form-3-2">Option 2</label>
</div>
<div class="radio" [ngClass]="[radioSettings.color, radioSettings.align]">
  <input type="radio" name="form-3" id="form-3-3">
  <label for="form-3-3">Option 3</label>
</div>
