@import '../../../../projects/ui-absolute/src/uia/scss/components/variables';

.highlight {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  background-color: $light;
}

.nav-header {
  margin-top: 2rem;
}

:host ::ng-deep .import-initial {
  color: #C586C0;
}

:host ::ng-deep .import-braces {
  color: #FFC813;
}

:host ::ng-deep .import-module {
  color: #9CDCFE;
}

:host ::ng-deep .import-package {
  color: #CE9178;
}

.copy-clipboard {
  position: absolute;
  right: 16px;
}
