<div class='container-fluid'>
  <div class='row header-height'>
    <div class='col-md-2 col-height'>
      <a [routerLink]="['/']">
        <img class="logo" src="/assets/images/UI_Absolute_inline_white.png">
      </a>
    </div>
    <div class='col-md-8 col-height header-responsive'></div>
    <div class="col-md-1 version-style col-height header-responsive">
      <div class="version">v{{version}}</div>
    </div>
    <div class='col-md-1 icon-style p-2 text-right col-height header-responsive'>
      <a href="https://www.npmjs.com/package/ui-absolute" target="_blank" style="color:white"><i class="fab fa-npm" title='NPM'></i></a>&nbsp;
      <a href="https://github.com/UI-Absolute/UIAbsolute" target="_blank" style="color:white"><i class="fab fa-github" title='GitHub'></i></a>
    </div>
    <div class='sidenav-menu sidenav-style' *ngIf="!isHome">
      <i class='fa fa-bars' *ngIf="!mobileHumburger" (click)="openSidenav();"></i>
      <i class='fa fa-times' *ngIf="mobileHumburger" (click)="openSidenav();"></i>
    </div>
  </div>
</div>

