<app-header></app-header>
<div class='container-fluid'>
  <div class='row text-center'>
    <div class='col-md-12 p-3'>
      <img src='/assets/images/UI_Absolute.png' class='logo-style'>
    </div>
  </div>
  <div class='row p-2'>
    <div class='col-md-3'>
    </div>
    <div class='col-md-6'>
      <div id="window">
        <div id="toolbar">
         <div class="top">
           <div id="lights">
             <div class="light red">
               <div class="glyph">×</div>
               <div class="shine"></div>
               <div class="glow"></div>
             </div>
             <div class="light yellow">
               <div class="glyph">-</div>
               <div class="shine"></div>
               <div class="glow"></div>
             </div>
             <div class="light green">
               <div class="glyph">+</div>
               <div class="shine"></div>
               <div class="glow"></div>
             </div>
           </div>
           <div id="title">
             <div class="folder">
               <div class="tab"></div>
               <div class="body"></div>
             </div>
             uiabsolute.com
           </div>
           <div id="bubble">
             <div class="shine"></div>
             <div class="glow"></div>
           </div>
         </div>
       </div>
       <div id="body">
        <div class="css-typing p-1">
          <p style='margin-bottom:0px;'>
            <span>ui-absolute:~ $</span> touch list.html
          </p>
          <p>
            <span>ui-absolute:~ $</span> &lt;ol&gt;
          </p>
          <p>
            &lt;li&gt;Car&lt;/li&gt;
          </p>
          <p>
            &lt;li&gt;Bike&lt;/li&gt;
          </p>
          <p>
            &lt;li&gt;Plane&lt;/li&gt;
          </p>
          <p>
            &lt;/ol&gt;
          </p>
          <p>
            ### Happy Coding ###
          </p>
        </div>
       </div>
     </div>
    </div>
    <div class='col-md-3'></div>
  </div>
  <div class='row p-3'>
    <div class='col-md-4'></div>
    <div class='col-md-4 text-center'>
      <button class='btn btn-primary btn-lg' title='Documentation' [routerLink]="['/documentation']"><span class='material-icons' style='position:relative;top:3px;'>description</span>&nbsp;DOCUMENTATION</button>
    </div>
    <div class='col-md-4'></div>
  </div>
  <div class='holder w-100 mt-2' style='padding:80px 10%;    background: #f8f8f8;'>
    <div class='row'>
      <div class='col-12 col-sm-6 d-flex flex-wrap'>
        <h3>Fast & Light</h3>
        <p>UI Absolute is designed as a lighter, faster alternative to some of the traditional components. It is easy to use and one of the promising, secure and stable component for your awesome websites.</p>
      </div>
      <div class='col-12 col-sm-6 d-flex flex-wrap'>
        <h3>Easy To Customize</h3>
        <p>We allow you to manage and rearrange your elements extremely faster, focusing always on the architecture of your application.</p>
      </div>
    </div>
    <div class='row'>
      <div class='col-12 col-sm-6 d-flex flex-wrap'>
        <h3>Configuration</h3>
        <p>We have developed multiple components with great extensibility and excellent results which is easy to download and extend in your application with just a one click.
        </p>
      </div>
      <div class='col-12 col-sm-6 d-flex flex-wrap'>
        <h3>A lot of demos</h3>
        <p>We have developed a huge set of demos which will help you to easily customize and use the component.</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
